body {
    background-size: cover;
    min-height: calc(100vh - 21px);
}

.hidden {
    display: none !important;
}
#weather {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #2a2b2b;
}
#clock {
    margin: 10px 150px 10px 150px;
    height: 250px;
}

#clock h1 {
    font-size: 150px;
    color: black;
}

#login {
    margin-bottom: 20px;
}
#login input {
    border: 3px dashed;
    background: transparent;
    text-align: center;
    font-size: 40px;
}

#login input::placeholder {
    color: #2a2b2b;
}

#greeting {
    color: #2a2b2b;
    font-size: 40px;
    height: 30px;
}

#todo-form input {
    border: none;
    background: transparent;
    font-size: 20px;
    width: 31%;
    text-align: center;
    border-bottom: 2px solid;
    border-color: #2a2b2b;
}

#todo-form input::placeholder {
    color: #2a2b2b;
}

#todo-list {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#todo-list li {
    list-style-type: none;
    margin-bottom: 10px;
}

#todo-list li button {
    margin-right: 10px;
    background-color: transparent;
    border: 2px solid;
    border-color: #2a2b2b;
    border-radius: 20%;
}

.center-screen {
    display: flex;
    justify-content: center;
}

